@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
*/

/* Colors*/

/*COLORS*/
:root {
    --clr-blue: #151c43;
    --clr-blue30: #151c43e5;
    --clr-turq: #20D3C2;
    --crl-white: #ffffff;
    --clr-black: #23262A;
    --crl-grey: #E6E6E6;
    --crl-coral: #FF7373;
}

.border-red {
    border: solid 1px red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222529;
    font-family: 'Poppins', sans-serif;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(43, 43, 43)
}

    a:hover {
        color: var(--clr-secundary);
    }

.header2 {
    font-size: 45px;
    font-weight: bold;
}

img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.position-r {
    position: relative;
}

.position-a {
    position: absolute;
}

.bg-background {
    background-color: var(--crl-grey);
    z-index: -1;
}

/*NAVBAR*/
.navbar {
    height: 7rem;
    background-color: var(--crl-grey);
    border-radius: 0px;
   
    /*z-index: 3;*/
  }

  .offcanvas-header {
    height: 7rem;
  }
 .offcanvas-header .offcanvas-title {
    margin-top: 1rem;
  }
.offcanvas-body {
    padding: 0px;
  }


.nav-link {
    color: rgb(19, 19, 19);
    padding-left: 1rem;
    font-size: 18px;
    margin: 0px;
  }
 .nav-item .nav-link:hover {
    color: #0277ad;
  }

/*Sektion 1*/
/* PAGE 1 */
#PageHeader{
    
    padding-top:5rem ;
}
.header-image-left {
    display: none;
    
}
.header-image-right {
    display: none;
}

.header-image-text h1 {
    font-size: 36px;
}

.header-image-text p {
    font-size: 18px;
    width: 100%;
}


/* Section 2 */
.home-section-2 {
    margin: 4rem;
}

.home-section-2-text-right,
.home-section-2-text-left {
    padding-left: 25px;
    padding-right: 350px;
    top: 120px;
    width: inherit;
    height: 250px;
}
.home-section-2-img{
    
    height:400px;
}

/* Section 3 */
.rating-stars {
    height: 15px;
    width: 100px;
}

.products {
    margin: 4rem 7rem 4rem 7rem;
}

.products .card-footer, .card {
    background-color: transparent;
    border: none;
}

.products .col {
    margin-top: 1rem;
}

.products .card-img-top {
    height: 210px;
    width: inherit;
}

.Product-image-container{
    height:200px;
    width:200px;
    border-radius:5px;
}

/* buttons */
.white-button,
.pink-button, .black-button {
    border-radius: 0px;
    border: none;
    width: 154px;
    height: 40px;
    padding: 2px;
    font-weight: bold;
    font-size: 18px ;
    font-size: 16px;
}

.white-button {
    color: var(--clr-turq);
    background-color: var(--crl-white)
}

    .white-button:hover,
    .pink-button:hover,
    .black-button:hover {
        color: var(--crl-grey)
    }

.black-button {
    color: var(--crl-white);
    background-color: var(--clr-black);
}
 .pink-button {
    color: var(--crl-white);
    background-color: var(--crl-coral);
    padding:10px;
} 

.form-header{
    font-size:24px;
}

.form-control{
     margin-top:25px;
     font-size:14px;
     padding:10px 0 10px 10px;
     
}
form .pink-button{
    margin-top:25px !important;
}

/*MEDIA*/
@media (min-width: 768px) {
    .header-image-text h1 {
        font-size: 65px;
    }
    
    .header-image-text p {
        font-size: 20px;
        width: 500px;
    }
    .header-image-left {
        display:block;
        right: 100px; 
    }
    .navbar .pe-1 {
      padding-right: 3rem !important;
    }
    .navbar .ps-1 {
      padding-left: 3rem !important;
    }
  }
  @media (max-width: 1200px) {
    /*OFF Canvas Meny*/
    
    #offcanvasNavbar {
      background: rgba(255, 255, 255, 0.795);
      box-shadow: 0 8px 32px 0 rgba(170, 171, 177, 0.37);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(1px);
      border-radius: 30px 0px 0px 0px;
    }
  }
  /*Navbar for desktops*/
  @media (min-width: 1200px) {
    
    
    .header-image-right {
        display: block;
        left: 100px;
    }
    .offcanvas-body .navbar-nav .nav-item {
      margin-left: 2rem;
      font-size: 18px;
      /*Display dropdown menu on hover*/
    }
    .offcanvas-body .navbar-nav .nav-item:hover {
      border-radius: 8px 8px 0px 0px;
    }
    .offcanvas-body .navbar-nav .nav-item .nav-link {
      padding-left: 0px !important;
      padding: 5px 8px 5px 8px !important;
    }
  }