@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<div class="bg-background" id="PageHeader">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="header-image-left position-r">
                
                <img src="./img/femail.png">
            </div>
            <div class="header-image-text text-center">
                <h1>
                    SALE UP
                    <br>
                    To 50% Off
                </h1>
                <p class="mt-3">Online shopping free home delivery over $100</p>
                <button class="pink-button mt-3">Shop now</button>
            </div>
            <div class="header-image-right position-r">
                <img src="./img/male.png">
            </div>
        </div>
    </div>
</div>