@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="home-section-2">
    <div class="container">
        <div class="d-flex align-items-center">

            <div class="home-section-2-img position-r">
                <img src="./img/women2.png">
                <div class="home-section-2-text-left position-a d-flex align-items-start flex-column">
                    <h2 class="header2">
                        Winter Clearance
                        Up to 70% Off!
                    </h2>
                    <p class="mb-auto">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem apriam eaque ipsa quae ab illo inventore.</p>
                    <button class="black-button mt-3">Shop now</button>
                </div>
            </div>

            <div class="home-section-2-img position-r">
                <img src="./img/man-2.png">
                <div class="home-section-2-text-right position-a  d-flex align-items-start flex-column">
                    <h2 class="header2 mt-auto">
                        New<br>
                        Arrivals
                    </h2>
                    <button class="black-button mt-3">Shop now</button>
                </div>
            </div>
        </div>
    </div>
</section>