@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="home-section-3">
    <div class="container">
        <div class="products row row-cols-4 justify-content-between">
           
           <partial name="ProductsPartial"/>
        </div>
    </div>
</section>